SUMMARY_BASE_MODEL_ID=google/flan-t5-large
SUMMARY_ADAPTER_DIR=/models/flan_t5_large_lora_adapter_stable_final
SUMMARY_SERVICE_AUTH_TOKEN=replace-me
HF_TOKEN=
HF_CACHE_DIR=/models/hf-cache
SUMMARY_MAX_INPUT_TOKENS=512
SUMMARY_MAX_CHUNKS=8
SUMMARY_CHUNK_WORDS=350
SUMMARY_CHUNK_OVERLAP=50
SUMMARY_DEFAULT_LENGTH=medium
